appdirs==1.4.3
asgiref==3.2.3
attrs==19.3.0
black==19.10b0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.1
coverage==5.0.3
dj-database-url==0.5.0
Django==3.0.3
django-cors-headers==3.2.1
django-extensions==2.2.8
dparse==0.4.1
entrypoints==0.3
flake8==3.7.9
flake8-polyfill==1.0.2
future==0.18.2
gunicorn==20.0.4
idna==2.9
mando==0.6.4
mccabe==0.6.1
packaging==20.1
pathspec==0.7.0
pip-autoremove==0.9.1
psycopg2-binary==2.8.4
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.6
python-dotenv==0.11.0
pytz==2019.3
PyYAML==5.3
radon==4.1.0
regex==2020.2.18
requests==2.23.0
safety==1.8.5
six==1.14.0
sqlparse==0.3.0
toml==0.10.0
typed-ast==1.4.1
urllib3==1.25.8
Werkzeug==1.0.0
whitenoise==5.0.1
